@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(247, 243, 243);
}
.card {
  padding: 10px;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 452px) {
    & {
      display: grid;
      place-items: center;
    }
  }
  @media only screen and (min-width: 1290) {
    & {
      display: grid;
      place-items: center;
    }
  }
  h5 {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin: 30px 0px;
    margin-bottom: 10px;
  }
  h2 {
    font-weight: 800;
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
    color: rgb(68, 68, 68);
  }
  p {
    text-align: center;
    color: rgba(99, 97, 97, 0.911);
    font-weight: 500;
  }
}

.lower-card {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 1290px) {
    & {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
.display-card {
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 1px 5px grey;
  background-color: white;
  margin: 10px;
  max-width: 300px;
  height: fit-content;

  h2 {
    text-align: start;
    margin: 0;
  }
  p {
    text-align: start;
    margin: 10px 0;
    color: rgba(161, 159, 159, 0.781);
    font-weight: 700;
  }
  .img {
    display: flex;
    justify-content: end;
    align-content: flex-end;
    margin-top: 20px;
  }
}
.card-display-one {
  border-top: 5px solid rgb(17, 214, 198);
}

.card-display-two {
  border-top: 5px solid firebrick;
}

.card-display-three {
  border-top: 5px solid goldenrod;
}

.card-display-four {
  border-top: 5px solid rgb(109, 109, 243);
}
.card-display-middle {
  display: flex;
  flex-direction: column;
}
